body {
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

#form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 800px;
    width: 100%;
}

#form h1 {
    color: #333;
    margin-bottom: 20px;
}

#form h2 {
    color: #555;
    margin-top: 20px;
}

#form input[type="text"],
#form input[type="number"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.b {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.b:hover {
    background-color: #0056b3;
}

#form table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#form table td, #form table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#form table th {
    background-color: #f2f2f2;
    color: #333;
}
#formVisualizza, #formRegistra, #formLogin {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin-top: 20px;
    margin-left:6%;
}

#formStazioni{
    text-align: center;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1000px;
    margin-top: 20px;
    margin-left:6%;
}

#formBici{
    text-align: center;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
    margin-left:6%;
}

#mappaBrescia {
    height: 400px; 
    margin-left:0%;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}